
body{
  width: 600px;
  margin: 20 auto;
  padding: 20;
}
.squareBox {
  float: left;
  width: 20px;
  height: 20px;
  background-color: grey;
  display: inline-block;
  margin: 5px;
}
.container {
  height:150px;
  width: 600px;
  font-family: sans-serif;
}

.controlContainer {
  width: 600px;
}
button {
  align: center;
  font-size: 30px;
}

.selectedBlueBox {
  float: left;
  width: 20px;
  height: 20px;
  background-color: blue;
  display: inline-block;
  margin: 5px;

}
